* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

body {
  font-size: 0.32rem;
}

.wrap {
  overflow: hidden;
}

.wrap .header {
  width: 100%;
  height: 0.8rem;
  background: #EB3B47;
}

.wrap .list .top {
  height: 0.8rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
}

.wrap .list .top li {
  flex: 1;
  line-height: 0.8rem;
  text-align: center;
}

.wrap .list .main li {
  width: 100%;
  height: 3.3rem;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  padding: 0.28rem;
}

.wrap .list .main li dl {
  display: flex;
}

.wrap .list .main li dl dd {
  width: 2.85rem;
  height: 2.15rem;
}

.wrap .list .main li dl dd img {
  width: 100%;
  height: auto;
}

.wrap .list .main li dl dt {
  padding-left: 0.2rem;
}

.wrap .list .main li dl dt h3 {
  color: #D83C4C;
}

.wrap .list .main li dl dt p {
  color: #9E9E9E;
}
